
body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
}
img{
    grid-row: 1/2;
}
.white-box{
    background-color: azure;
    grid-column:1/2 ;
    grid-row: 2/3;

}
footer{
    background-color: rgb(77, 77, 197);
    
}